body {
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

header {
  background-color: darkslategray;
  color: whitesmoke;
  border-color: whitesmoke;
}
#nav1 {
  line-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav1a {
  color: whitesmoke;
  text-decoration: none;
}
h1 {
  line-height: 40px;
  text-align: center;
}

article {
  border: solid;
  border-color: darkslategray;
  margin: 15px;
  padding: 10px;
}

footer {
  height: 250px;
  margin: 25px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#toppen {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}
.nav2a {
  color: darkslategray;
  text-decoration: none;
}
#pokerBild {
  width: 30%;
  height: 30%;
  margin: 20px;
}
#poker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#chessBild {
  width: 30%;
  height: 30%;
  margin: 20px;
}
#chess {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#skidaBild {
  width: 70%;
  height: 70%;
}
.bildCenter {
  display: flex;
  justify-content: center;
}
#NTI {
  width: 30%;
  height: 30%;
}
